.aButton
  padding: 8px 15px
  background-color: $accent-color
  color: $white
  text-transform: uppercase
  text-decoration: none
  transition: .5s
  border-radius: 4px

  &:hover
    color: $white
    background-color: darken($accent-color, 10)

  &.asSmall
    font-size: 0.9rem

  &.asInline
    display: inline
    white-space: no-wrap
