.aPost
  padding-right: 90px

  &-Category
    font-size: $font-size-small
    color: $grey

  &-Title
    margin-top: 7px 
    margin-bottom: 12px
    font-size: $font-size-medium  
    font-weight: $font-weight-bold

    a
      color: $black

      &:hover
        color: $accent-color

  &-Teaser
    color: $grey
