.top-bar
  .top-bar-left
    %ul.menu
      %li
        %strong
          %a{href: '/'} Decent Organisations
      %li
        = link_to 'About', about_path
      %li
        = link_to 'What are decent organisations?', idea_path
  .top-bar-right
    %a.button{href: new_post_path} Add New
