.grid-container
  .grid-x.grid-padding-x
    .cell.small-12
      .aFormSheet
        %h2 What are decent organisations?
        %p Very good question. We are trying to figure that out ourselves, here are some of our thoughts so far:
        %p We humans cannot solve systemic problems - like inequality, unsustainable growth, unfair labor, or climate change - with linear thinking in hierarchical organizations. That's where decent organizations come in.

        %ul
          %li Decent organizations put humans first - in why, what and how they operate.
          %li Decent organizations are or strive to be decentralized.
          %li Decent organizations discuss what "decent" means.

        %p What do you think? We would love to hear from you and collaborate with you - especially if you disagree!
