.aPost
  .grid-x
    .cell.small-2
      .a-post-votes
        %span= post.upvotes
        %span upvotes
    .cell.small-10
      .aPost-Category
        %small= post.categories.map(&:name).join(", ")
      %h3.aPost-Title
        = link_to post.title, post_path(post)
      .aPost-Teaser
        %span= post.description
