.a-post
  .grid-x
    .cell.small-2
      .a-post-votes
        %span= post.upvotes
        %span upvotes
    .cell.small-10
      .a-post-content
        %small= post.categories.map(&:name).join(", ")
        %h3
          %a{href: post_path(post)}= post.title
        %span= post.description
