- content_for :title, "Edit - #{@post.title}"
.grid-container
  .grid-x.grid-padding-x
    .cell.small-12
      .aFormSheet
        .grid-x
          .cell.small-12
            %h2 Edit Post
          .cell.small-12
            = render 'form'
