.grid-container
  .grid-x.grid-padding-x
    .cell.small-12.medium-3
      = render 'shared/sidebar'
    .cell.small-12.medium-9
      .bPostWrapper
        - @posts.each do |post|
          .bPostWrapper-Post
            = render post
      = will_paginate(@posts, page_links: false, next_label: "Next ▸", previous_label: "◂ Previous", class: "aPagination")
