.grid-container
  .grid-x
    .cell.small-12.medium-3
      = render 'shared/sidebar'
    .cell.small-12.medium-9
      .bPostWrapper
        - @posts.each do |post|
          .bPostWrapper-Post
            = render post
      = will_paginate(@posts)
