.categories
    margin 0 rem(15px) rem(50px)
    margin-bottom rem(30px)
    span
        font-size rem(14px)
        color main
        display inline-block
        border 1px solid main
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        &:hover
            color darken(main, 40%)
            border 1px solid darken(main, 40%)
            background #fff
    a
        color main
        padding rem(5px) rem(10px)
        border-radius 3px
        display inline-block
        margin 0 0 rem(5px)
        z-index 50
        color category-color
        border 1px solid #637a91
        text-decoration: none
        &:hover
            color: #fff
            background: #637a91
.img-rounded
    border-radius 50%